.modal {
    background-color: var(--c-green-dark);
    color: var(--c-main);
    outline: none;
    border: 4px var(--c-main) solid;
    
    max-width: 90vw; max-height: 90vh;
    isolation: isolate;
    position: absolute;

    justify-self: center;
    align-self: center;

    padding: 40px;
    gap: 24px;

    &h2 {
        text-align: center;
        text-transform: capitalize;
        padding-bottom: 24px;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form .form-item {
    display: flex;
    gap: 16px;
}


form label {
    font-weight: 900;
    font-size: 20px;
    min-width: 104px;
    padding-right: 16px;
}

form input[type=textarea] {
    background-color: var(--c-sec);
    border: none;
    color: var(--c-main);
    min-width: 45ch;
}

form input[type=textarea]:focus-visible,
form input[type=date]:focus-visible,
form select:focus-visible {
    border: 1px var(--c-main) solid;
    outline: none;
}

form input[type=date],
form select {
    background-color: var(--c-main);
    padding: 4px 8px;
    font-weight: 600;
    width: 100%;
    text-align: center;

    border: none;
}

.modal .buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
}